.containerButtonCv{

    width: 40%;
}


.buttonCv {

    padding:.5em 1em; 
    border-radius: 10px;
    color: white;
    background-color: #000000;
    border: 2px solid #c4a35a;
    transition: transform 400ms, background-color 300ms 150ms ;
}

.buttonCv:hover{

    transform: scale(1.15);
    background-color:#c4a35a ;
}

