.containerProfil{
    height: 100%;
    display: flex;
    border-top: 5px solid #c4a35a;
    /* display: flex;
    flex-direction: row; */
}


#containerImage{
    /* background-image: url('../../assets/imageRue.jpg'); */
    background-size: cover;
    height: 100%;
    width: 100%;
    min-width: 50%;
    display: flex;
    
    /* filter: grayscale(1);
    filter: saturate(600%);
    -webkit-filter: saturate(300%); */
    
}

#containerImage img{
    /* margin-left: auto;
    margin-right: auto; */
    border: 10px solid #111010;
    width: 50%;
    height: 50%;
    border-radius: 200px;
    margin: auto;
   display: flex;
   align-items: center;
}


#containerTexteProfil{
    /* background-color: #473F3F; */
    background-color: #000000;
    height: 100%;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#containerTexteProfil p,h3 {
    color: #d8dcdd ;
    font-weight: bold;
    font-family: 'Comic Sans MS', cursive;
    font-style: italic;
    font-size: 20px;
    line-height: 50px;
    /* margin: 100px 300px; */
    /* text-align: center;
    vertical-align: middle; */
    /* display: inline-block; */
}

@media screen and (max-width:800px){

    .containerProfil{
        display: flex;
        flex-direction: column;
        max-height: 100%;    
    }

    #containerImage{

        min-height: 50%;
        width: 100%;
        margin: auto;
    }

    #containerTexteProfil{
        padding:0px 0px;
        text-align: center;
        
    }

    #containerTexteProfil p,h3{
        font-size:small;
        margin: 10px 10px;
    }

    #containerImage img{
        
        width: 60%;
        height: 70%;
    }
}

